nav ul {
  list-style: none;  
  display: flex; 
  justify-content: center; 
  gap: 30px;         

}
nav ul li a {
  color: black;           
  font-size: 18px;
  font-family: Arial, sans-serif;
}

nav ul li a:hover {
  color:darkorchid;
}