body {
  background-color:beige; 
 
}

.cartao {
  background-color:rgba(255, 105, 180, 0.342); 
  border-radius: 15px;      
  padding: 20px;  
  text-align: center;                     
}
